@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 32px 0 32px 0;
}

/*Sessão Logo da Página*/

header.menu__header{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

h3.menu__title {
    font-weight: 700;
    margin-left: 8px;
}

/*Seção Menu*/

nav.menu__nav{
    align-items: center;
    display: flex;
}

ul.menu__list{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

li.menu__list__item{
    font-weight: 500;
    margin-right: 32px;
}

li.menu__list__item:hover{
    text-decoration: underline;
}

li.menu__list__item__contato{
    font-weight: 700;
}

li.menu__list__item__contato:hover{
    text-decoration: underline;
}

/*Sessão Title*/

section.title{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 32px 0 32px 0;
}

div.title__div{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
}

h2.title__bio{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 0;
}

h3.title__subsection{
    font-size: 22px;
    font-weight: 400;
    margin: 24px 0 24px 0;
}

ul.title__network{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}

li.title__network__item{
    margin-right: 32px;
    left: 0;
}

li.title__network__item:hover{
    text-decoration: underline;
}

/*Sessão About*/

section.about{
   background: var(--azul-10, #EAF2FD);
   margin: 32px auto;
   padding: 64px;
   width: 90.5%;
}

div.about__container{
    width: 60%;
}

h3.about__title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

p.about__paragraph{
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 16px 0;
}

/*Sessão Skills*/

section.skills{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

h3.skills__title{
    font-size: 32px;
    font-weight: 700;
}

div.skills__line{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

div.skills__box{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 174px;
    width: 176px;
    padding: 16px;
}

li.skills__name{
    margin-top: 8px;
}

/*Sessão Hobbies*/

section.hobbies{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 88px 0;
    width: 100%;
}

h3.hobbies__title{
    font-size: 32px;
    font-weight: 700;
}

div.hobbies__line{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

div.hobbies__box{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 174px;
    width: 176px;
    padding: 16px;
}

li.hobbies__name{
    margin-top: 8px;
}

/* Experiência Acadêmica*/

section.academic{
    align-items: center;
    background: var(--azul-10, #EAF2FD);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 82px;
}

h2.academic__title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 0;
}

div.academic__courses{
    align-items: center;
    display: flex;
    justify-content: center;
}

div.academic__courses__box{
    align-items: flex-start;
    display: flex;
    height: 347px;
    justify-content: center;
    margin-right: 16px;
    width: 368px;
}

ul.academic__courses__list{
    padding-left: 0;
}

li.academic__courses__item__img{
    display: flex;
    flex-shrink: 0;
    height: 130px;
    width: 192px;
    padding: 16px;
}

li.academic__courses__item__title{
    font-size: 22px;
    font-weight: 700;
}

h4.academic__courses__item__title__tag{
    margin: 8px 0;
}

li.academic__courses__item__subtitle{
    font-size: 16px;
    font-weight: 500;
}

/* experiência*/

section.experience{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px 0 0 0;
}

h2.experience__section__title{
    font-size: 32px;
    font-weight: 700;
}

div.experiencie__box{
    display: flex;
    margin: 64px 0;
    width: 85%;
}

div.experiencie__box.experiencie__box__invert{
    display: flex;
    flex-direction: row-reverse;
}

img.experience__img{
    margin-right: 16px;
}

img.experience__img.experience__img__invert{
    margin-left: 16px;
    margin-right: 0;
}

div.experience__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.experience__title{
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

h3.experience__text{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

div.experience__description{
    display: flex;
}

button.experiencia__botao--repo{
    align-items: center;
    border: 1px solid var(--azul-100, #2A7AE4);
    color: var(--azul-100, #2A7AE4);
    display: flex;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    justify-content: center;
    margin-right: 16px;
    padding: 16px;
}

button.experiencia__botao--repo:hover{
    background: var(--azul-20, #D4E4FA);
    cursor: pointer;
}

button.experiencia__botao--demo{
    align-items: center;
    background: var(--azul-100, #2A7AE4);
    border: 1px solid var(--azul-100, #2A7AE4);
    color: var(--preto-branco, #FFF);
    display: flex;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    justify-content: center;
    padding: 16px;
}

button.experiencia__botao--demo:hover{
    background: var(--azul-80, #5595E9);
    cursor: pointer;
}


/*Contato*/

section.formcontato{
    align-items: center;
    background: var(--azul-10, #EAF2FD);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 64px;
    width: 90.5%;
}

div.formcontato__contacto{
    display: flex;
}

div.formcontato__text{
    margin-left: 16px;
}

h2.formcontato__title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

h3.formcontato__subtext{
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

form.formcontato__form{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

div.formcontato__label{
    background: var(--preto-branco, #FFF);
    border-radius: 4px;
    color: var(--preto-50, #A2A2A2);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 32px;
    padding: 8px 12px;
}

input.formcontato__input{
    all: unset;
    border-bottom: 0.5px solid var(--preto-30, #C8C8C8);
    color: var(--preto-100, #464646);
    font-size: 16px;
    font-weight: 400;
}

input.formcontato__input:focus{
    border-bottom: 0.5px solid var(--azul-100, #2A7AE4);
}

textarea.formcontato__textarea{
    all: unset;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 0.5px solid var(--preto-30, #C8C8C8);
    border-radius: 4px;
    background: var(--preto-branco, #FFF);
    display: flex;
    font-weight: 400;
    flex-direction: column;
    gap: 92px;
    justify-content: flex-end;
    margin-bottom: 61px;
    padding: 16px 12px;
}

textarea.formcontato__textarea:focus{
    border-bottom: 0.5px solid var(--azul-100, #2A7AE4);
}

div.formcontato__botao__container{
    display: flex;
    justify-content: flex-start;
}

button.formcontato__botao{
    align-items: center;
    background: var(--azul-100, #2A7AE4);
    border: 1px solid var(--azul-100, #2A7AE4);
    color: var(--preto-branco, #FFF);
    display: flex;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    justify-content: center;
    padding: 16px;
}

button.formcontato__botao:hover{
    background: var(--azul-80, #5595E9);
    cursor: pointer;
}

/*footeer*/

section.footer{
   
}

div.footer__rodape{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
}

div.footer__rodape p{
    margin: 0;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
